<div class="nav-scroll" id="mynav">
  <nav class="navbar navbar-expand-md  navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="">
      <img class="white-img-color" src="../../../assets/image/souvik_logo.png" style="width: 70px;" alt="">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
      aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Ability">Abilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../../assets/Doc/Resume/Souvik Manna.pdf" target="_blank">Resume <i
              class="fas fa-file-import pl-1"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<!--background image-->
<div class="bg_image">
  <div class="container h100">
    <div class="row text">
      <div class="col-lg-10">
        <div class=" containbox">
          <!--background image text-->
          <div>
            <p style="font-family: 'Philosopher'; font-size: 40px;">Hey, I'm</p>
            <h1 style="font-family: 'Playfair Display SC';">Souvik Manna</h1>
            <hr class="devider" style="color: #ffffff;">
            <p style="font-family:'Simonetta';">Convergent Thinker || Developer || Brainstomer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--About-->
<section class="abt page" id="About">
  <div class="container h100">
    <div class="row text">
      <div class="col-md-12 text-center">
        <h1>About Myself</h1>
        <hr class="devider">
      </div>
    </div>
    <div class="row" style="padding-top: 40px;">

      <div class="col-md-6  h-100">
        <div class="text-left">
          <h3>Bio:</h3>
          <p style="font-size: 20px;">I born and brought up at Kolkata. My hobbies are drawing,playing cricket,carrom,
            sudoku.In leisure time I love to draw picture.Also I have an interest on coding for this reason I chose this
            profession.In future I want to see myself as a well Web Developer.</p>
        </div>
      </div>
      <div class="col-md-6 contain text-right">
        <div class="image-img">
          <img class="image" src="../../../assets/image/profile.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!--ability section-->
<section class="sarve bg-dark" id="Ability">
  <div class="container h100">
    <div class="row text1">
      <div class="col-lg-12">
        <div class="contain">
          <div>
            <h1 class="text-center text-white">Abilities</h1>
            <hr class="devider" style="color: #ffffff;">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="row" style="padding-top: 40px;">
          <div class="col-md-6">
            <h3 class="h3">Skills</h3>
            <div class="row pl-3">
              <div class="col-md-6">
                <h5 class="h5">Bootstrap Framework</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">HTML5</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">CSS</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">Javascript</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">Angular</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">PSQL</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <h3 class="h3">Tools</h3>
            <div class="row pl-3">
              <div class="col-md-6">
                <h5 class="h5">Windows</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">Ubuntu</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">Visual Studio Code</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">Git</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">MS office</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <hr class="devide">
        <div class="row">
          <div class="col-md-6">
            <h3 class="h3">Languages</h3>
            <div class="row pl-3">
              <div class="col-md-6">
                <h5 class="h5">Bengali</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="col-md-6">
                <h5 class="h5">English</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <br><br>
            <div class="row pl-3">
              <div class="col-md-6">
                <h5 class="h5">Hindi</h5>
              </div>
              <div class="col-md-6">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ability section end -->

<!--gallery section-->
<section class="Images" id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Gallery</h1>
        <hr class="devider">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 image1">
        <img class="img" src="../../../assets/image/Black/quotes.jpg" alt="">
        <div class="overlay">
          <div class="overlay-text">Samuel Langhorne Clemens, also known as Mark Twain.His best-known works are The
            Adventures of Tom Sawyer and The Adventures of Huckleberry Finn, both classics in American literature.</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 image1">
        <img class="img" src="../../../assets/image/Black/quotes1.jpg" alt="">
        <div class="overlay">
          <div class="overlay-text">James Baldwin was an essayist, playwright, novelist and voice of the American civil
            rights movement known for works including 'Notes of a Native Son,' 'The Fire Next Time' and 'Go Tell It on
            the Mountain.'</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 image1">
        <img class="img" src="../../../assets/image/Black/edison.jpg" alt="">
        <div class="overlay">
          <div class="overlay-text">Thomas Alva Edison is famous for his inventions, which include the phonograph, the
            motion picture camera, and the electric light bulb.</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 image1">
        <img class="img" src="../../../assets/image/Black/einstein.jpg" alt="">
        <div class="overlay">
          <div class="overlay-text">Einstein is known for his theory of relativity and the equation E=MC2, which
            foreshadowed the development of atomic power and the atomic bomb.</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 image1">
        <img class="img" src="../../../assets/image/Black/kalam.jpg " alt="">
        <div class="overlay">
          <div class="overlay-text">Avul Pakir Jainulabdeen Abdul Kalam was an aerospace scientist who served as the
            11th President of India.He was the Project Director of India's first satellite 'Rohini'.</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 image1">
        <img class="img" src="../../../assets/image/Black/ford.jpg" alt="">
        <div class="overlay">
          <div class="overlay-text">Henry Ford the owner of the Ford Motor Company. His introduction of the Model T
            automobile revolutionized transportation and American industry.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- gallery section end -->

<!--contact modal-->
<div>
  <div class="modal" tabindex="-1" role="dialog" id="Mymodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You can contact me at this number- 7980655203</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</div>
<!--footer-->
<footer class="bg-dark foot" id="Contact">
  <h1 class="text-center text-white pb-50" style="font-family: 'Caladea';">"In the middle of difficulty lies
    opportunity."</h1>
  <p class="text-right text-white pr-73">-Albert Einstein</p>
  <h5 class="text-center text-white p-88" style="font-size: 18px; font-family:'Simonetta';">SouvikManna &copy; 2020.All
    rights reserved.</h5>

  <div class="icon text-center">
    <a href="https://www.facebook.com/souvik.manna.54" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/souvik.manna.54/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/souvik-manna-ab9253196" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="#" data-target="#Mymodal" data-toggle="modal"><i class="fa fa-phone"></i></a>
    <a href="mailto: souvikmanna979@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
  </div>


</footer>