body{
    padding: 0;
    margin: 0;
}
.nav-scroll{
    position: fixed !important;
    z-index: 99;
    background: rgba(11,1,1,0.93);
    color: #000000;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    transition: top 0.3s;
}

.navbar-brand{
    padding-left: 20px;
    font-family: 'Courgette';
    font-size: 1.7rem;
    color: #ffffff !important;
}
.navbar{
    padding: 0;
}
.nav-item{
    padding-right: 20px
}
.nav-item a{
    font-size: 1.2rem;
    color: #ffffff;
}
.nav-item a:hover{
    border-bottom: 1px solid #ffffff;
    color: #ffffff !important;
    
}

.bg_image{
    position: relative;
    top: 0;
    background: url(../../../assets/image/Black/bgimg.jpg); 
    height: 120vh;
    background-size: cover;
    width: 100%;
    
    margin-bottom: 0;
    
   
}
.h100{
    height: 100%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.containbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.containbox h1{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    opacity: .78;
    color: #ffffff !important;
}
.devider{
    border-bottom: 4px solid;
    width: 6rem;
    border-radius: 20px;
}
.containbox p{
    
    font-size: 1.5rem;
    color: #ffffff;
}

/* about */
.abt{
    height: 100%;
    padding: 3rem 0;
    
}

.image{
    width: 300px;
    height: 319px;
    border-radius: 45%;
}

/* ability */
.sarve{
    height: 100%;
    padding: 3rem 0;
    
}
.devide{
    border-bottom: 1px solid #ffffff;
}
.h3{
    color: #ffffff;
}
.h5{
    color: #ffffff;
}
.fa-star{
    color: #ffffff;
}

/* gallery */
.Images{
    padding: 3rem 0;
}
.image1{
    padding: 10px 10px;
    position: relative;
    background-size: cover;
}
.img{
    display: block;
    width: 100%;
    height: 270px;
}
.overlay {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0px;
    height: 270px;
    width: 360px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.78)
}
  .image1:hover .overlay {
    opacity: 1;
  }
.overlay-text{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 46%;
    left: 45%;
    right: -33%;
    /* -webkit-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    text-align: left;
}
/* model */

.modal-body textarea{
    border: none;
    outline: none;
}

/* footer */
footer{
    padding: 3rem 0;
    
}
.pb-50{
    font-size: 4rem;
}
.pr-73{
    padding-right: 73px;
}
.p-88{
    padding-top: 58px;
}

.icon{
    padding-top: 32px;
}

.icon a{
    font-size: 24px;
    color:#ffffff;
    padding: 0 10px;
}
.icon a .fa-facebook:hover{
    color: #3b5998;
}
.icon a .fa-instagram:hover{
    color: #C13584;
}
.icon a .fa-linkedin:hover{
    color: #0e76a8;
}
.icon a .fa-envelope:hover{
    color: #0000ff;
}



@media screen and (max-width:768px){
    .containbox h1{
        font-size: 2rem;
    }
}
@media screen and (max-width:768px){
    .containbox p{
        font-size: 1rem;
    }
}
@media screen and (max-width:992px) and (min-width:768px){
    .overlay{
        width: 340px;
    }
}
@media screen and (max-width:767px) and (min-width:541px){
    .overlay{
        width: 520px;
    }
}

