/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

@media screen and (max-width:530px){
    body{
        width: 530px;
    }
}

.white-img-color{
    filter: brightness(0) invert(1);
}
